<ul>
 <p>Menu categories<p>
  <% MenuCategory.all.each do |menucategory| %>
    <li><span><%= menucategory.name %></span>
      <ul>
        <% menucategory.menu_items.each do |menuitems| %>
          <li><%= menuitems.name %></li>
          <li><%= menuitems.description %></li>
          <li><%= menuitems.price %></li>

          <% if CartItem.where(user_id: session[:current_user_id]).find_by(menu_item_id: menuitems.id) %>
            <%= form_with(url: cart_item_path(menuitems.id, user_id: session[:current_user_id], quantity: 1), method: "patch") do %>
               <%= submit_tag "+", class: "AddToCart" %>
            <% end %>
            <%= form_with(url: cart_item_path(menuitems.id, user_id: session[:current_user_id], quantity: -1), method: "patch") do %>
              <%= submit_tag "-", class: "AddToCart" %>
            <% end %>
          <% else %>
            <%= form_with(url: cart_items_path(menu_item_id: menuitems.id, user_id: session[:current_user_id]), method: "post") do %>
            <%= submit_tag "ADD", class: "AddToCart" %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<% CartItem.where(user_id: session[:current_user_id]).all.each do |cartitem| %>
<% menuitem = MenuItem.find(cartitem.menu_item_id) %>
<%= menuitem.name %>~
<%= cartitem.quantity %>~
<%= menuitem.price %><br>
<% end %>
<%= CartItem.cart_total(session[:current_user_id]) %>
<%= form_with(url: orders_path, method: "post") do %>
    <%= submit_tag "Checkout", class: "Checkout" %>
<% end %>
